# direnv: run `direnv allow` once in this repo.
# If secrets/gurobi.lic exists, Gurobi (Julia) will use it.
if [[ -f secrets/gurobi.lic ]]; then
  export GRB_LICENSE_FILE="${PWD}/secrets/gurobi.lic"
fi
