# Add directories or file patterns to ignore during indexing (e.g. foo/ or *.csv)
*.pdf
*.ai
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.bak
*.psd
*.3dm
*.hdr
*.csv
*.json

SlabDesignFactors/results/past_results
SlabDesignFactors/results/test_results
SlabDesignFactors/plot_figures/figures_raw*
SlabDesignFactors/plot_figures/plotting_old
Documentation/
outputs/
Manifest.toml
Project.toml